body {
  font-family: sans-serif;
  margin: 0 auto;
  padding: 1rem;
  max-width: 800px;
  background: #f9f9f9;
  color: #333;
}

h1 {
  font-size: 1.5em;
  margin-bottom: 0.5em;
}

.inputs {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

details {
  border: 1px solid #ccc;
  padding: 1rem;
  border-radius: 6px;
  background-color: #fff;
}

.svg-wrapper {
  width: 100%;
  border: 1px solid #ccc;
  padding: 1rem;
  border-radius: 6px;
  background-color: white;
  margin-top: 1em;
  box-sizing: border-box;
}

#zipline-diagram {
  width: 100%;
  height: auto;
  background: white;
}

legend {
  padding: 0 0.5rem;
}

label {
  display: block;
  margin: 0.5rem 0;
  font-size: 1rem;
}

input[type="range"] {
  width: 100%;
  margin-top: 0.3rem;
}

.inputs label {
  display: block;
  margin: 0.5em 0;
}

input[type="number"] {
  width: 80px;
  margin-left: 0.5em;
}

.output {
  margin-top: 1em;
  font-weight: bold;
}

.warning {
  margin-top: 2em;
  color: red;
  font-size: 0.95em;
  border-top: 1px dashed #aaa;
  border-bottom: 1px dashed #aaa;
  padding-top: 1em;
  padding-bottom: 1em;
  margin-top: 1em;
  margin-bottom: 1em;
}



.slider-row {
  display: flex;
  align-items: center;
  gap: 0.75em;
  flex-wrap: wrap; /* stack on small screens */
  min-width:0; /* allow shrinking */
}

.slider-row label {
  flex: 0 0 auto;
  white-space: nowrap; 
}

.slider-row input[type="range"] {
  flex: 1 1 200px; /* give slider a  default min size */
  min-width: 0;    /* Allow it to shrink */
  margin: 0;
}

.slider-row span {
  font-size: 0.9em;
  color: #555;
  flex: 0 0 auto;
   white-space: nowrap; /* avoid span breaking awkwardly */
}

details summary {
  font-weight: bold;
  font-size: 1rem;
  cursor: pointer;
  
}

.output-container,
.test-results-container {
  max-width: 100%;
  padding: 1rem;
  overflow-x: auto;
  font-size: 0.85em;
}

.output p {
  margin: 0.2em 0;
}

#test-results table {
  width: 100%;
  border-collapse: collapse;
  font-size: 0.6em; /* Smaller text for compact view */
  margin-top: 1rem;
}

#test-results th,
#test-results td {
  border: 1px solid #ccc;
  text-align: center;
  background-color: white;
}
